pre {
  position: relative;
}

.annotation-marker {
  position: absolute;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
